force-app/main/default/flows/Add_Producer_On_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>has_producer_in_account</name>
        <label>has producer in account</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Applicant_Insured__r.Agent_to_Bill__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Producer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Add Producer in Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Producer On Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_Producer</name>
        <label>Add Producer</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Producer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Producer_City__c</field>
            <value>
                <elementReference>$Record.Applicant_Insured__r.Agent_to_Bill__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producer_Country__c</field>
            <value>
                <elementReference>$Record.Applicant_Insured__r.Agent_to_Bill__r.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producer_State_Province__c</field>
            <value>
                <elementReference>$Record.Applicant_Insured__r.Agent_to_Bill__r.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producer_Street__c</field>
            <value>
                <elementReference>$Record.Applicant_Insured__r.Agent_to_Bill__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producer_Zip_Postal_Code__c</field>
            <value>
                <elementReference>$Record.Applicant_Insured__r.Agent_to_Bill__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producer__c</field>
            <value>
                <elementReference>$Record.Applicant_Insured__r.Agent_to_Bill__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>has_producer_in_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Producer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
