force-app/main/default/flows/Update_Producer_Quote_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Update_Quote_Producer_Address</name>
        <label>Update Quote Producer Address</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Producer_Address_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Producer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Producer_Address_QuoteUpdate</targetReference>
            </connector>
            <label>Quote Producer Address Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Producer Quote Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Producer Quote Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Producer_Address_QuoteUpdate</name>
        <label>Producer Address QuoteUpdate</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Producer_City__c</field>
            <value>
                <elementReference>$Record.Producer__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producer_Country__c</field>
            <value>
                <elementReference>$Record.Producer__r.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producer_State_Province__c</field>
            <value>
                <elementReference>$Record.Producer__r.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producer_Street__c</field>
            <value>
                <elementReference>$Record.Producer__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producer_Zip_Postal_Code__c</field>
            <value>
                <elementReference>$Record.Producer__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Quote_Producer_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Producer__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
