force-app/main/default/flows/update_agency_address_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Producer_Detail</name>
        <label>Check Producer Detail</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Producer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agent_to_Bill__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_agency_Address</targetReference>
            </connector>
            <label>Check Producer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>update agency address on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update agency address on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_agency_Address</name>
        <label>update agency Address</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Agent_Address_Application__c</field>
            <value>
                <elementReference>$Record.Agent_to_Bill__r.Account.Mailing_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_City__c</field>
            <value>
                <elementReference>$Record.Agent_to_Bill__r.Account.Mailing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_State__c</field>
            <value>
                <elementReference>$Record.Agent_to_Bill__r.Account.Mailing_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_Zip__c</field>
            <value>
                <elementReference>$Record.Agent_to_Bill__r.Account.Mailing_Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Producer_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agent_to_Bill__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
